{% extends 'master.html' %}
{% block content%}
<form method="POST" ENCTYPE="multipart/form-data">
    <!--Security Token-->
    {% csrf_token %}
    <!--Uisng Django's formset-->
    {{form.as_p}}
<input type="submit" value="submit">
</form>
<div class="row justfy-content-center">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <img src="contact.svg" class="welcome-image">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="form">
        <h2><strong>Find Out How We Could Work Together</strong></h2>
        <p>Email us at relationshiphavenke@gmail.com</p>
        <input class="form-control my-5" type="text" placeholder="Name*">
        <input class="form-control my-5" type="text" placeholder="Email*">
        <input class="form-control my-5" type="text" placeholder="Phone">
        <input class="form-control my-5" type="text" placeholder="Name*">
        <div class="form-group">
          <label for="exampleFormControlTextarea1"></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your message here"></textarea>
        </div>
        <button type="button" class="btn btn-primary my-5">Submit</button>

      </div>
{% endblock content %}


